<div class="container">
  <div class="row">
    <div class="col">
      <h1>
        {{title}}
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col"> 

      <div class="list-group">
        <div class="list-group-item" *ngFor="let item of users" 
        [class.active]="item == user"
        (click)="user=item">
          {{item.pseudo}}
        </div>
      </div>
      <button (click)="register()">Register</button>  

    </div>
    <div class="col">

      <form (ngSubmit)="save()">
        <div class="form-group">
          <label for="">Pseudo:</label>
          <input type="text" class="form-control" 
          name="pseudo" 
          [(ngModel)]="user.pseudo"></div>
        <div class="form-group">
          <label for="">Photo:</label>
          <input type="file" class="form-control" (change)="photoChange($event)"></div>
          <img [src]="user.photo" *ngIf="user.photo">

        <button>Save</button>  
      </form>

    </div>
  </div>

  <div class="row">
    <div class="col">
      <cards [cards]="users"></cards>
    </div>
</div>